[Unit]
Description= Enabling the Websocket Service
After=multi-user.target

[Service]
ExecStart=/home/amilek/Documents/Server/websocketscript.sh

[Install]
WantedBy=multi-user.target
